<p>loginform works!</p>
<!--interpolation--
<h1>{{car}}</h1>
{{car}}<br>
{{getdata(20)}} <br>
<h1>{{booleanproperty}}</h1>
{{num==200}} <br><br>
{{student.name}}<br><br>
{{item}}<br>
{{item[2]}}-->
<button (click)="myevent('this is click event')">click me</button>
<input type="text" (keyup)="myevent('key up event')">
name:<input type="text" value={{myname}}>
name1<input type="text" value=100 disabled>
<input type="text"[(ngModel)]="myname">
<h1>{{myname}}</h1>

<br> <br>
<input type="text" name="user-name" value="{{name}}" disabled="{{disable}}">
<br><br>
<input type="text" name="user-name" [value]="name" [disabled]="disable">

