.formcontainer{
   border: 1px solid black;
   width:400px;
   padding: 17px; 
   text-align: center;
   background-color: cyan;
}
.btnn{
    height:30px;
    width:50px;
    padding: 5px;
    margin-top: 10px;
}